@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.login-page {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #ebeff5;
    font-family: 'Poppins', sans-serif;
}
  
.login {
    width: 400px;
    display: grid;
    grid-gap: 15px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: #ffffff;
}
.login__title {
    margin-bottom: 17.5px;
    font-size: 1.424rem;
    font-weight: bold;
    letter-spacing: -0.075rem;
    line-height: 1;
}
.login__title::first-letter {
    text-transform: capitalize;
}
.login__row {
    display: grid;
    grid-gap: 8px;
}
.login__label {
    font-family: "Montserrat", sans-serif;
    font-size: 0.79rem;
    font-weight: bold;
    text-transform: capitalize;
}
.login__input, .login__button {
    height: 40px;
    font-size: 0.79rem;
    border-radius: 8px;
    cursor: pointer;
}
.login__input {
    padding: 0 17.5px;
    background-color: transparent;
}
.login__button {
    height: 45px;
    font-size: 0.702rem;
    letter-spacing: 0.075rem;
    font-weight: bold;
    text-transform: uppercase;
}
.login__link {
    font-size: 0.702rem;
    text-align: center;
    cursor: pointer;
}
.login__link::first-letter {
    text-transform: capitalize;
}
  
.login__icon {
    color: #3f66ff;
}
.login__title {
    color: #201568;
}
.login__label {
    color: #201568;
}
.login__input, .login__button {
    border: 1px solid #201568;
    outline-color: #3f66ff;
}
.login__input {
    color: #625a85;
    caret-color: #3f66ff;
}
.login__input::placeholder {
    color: #9791b4;
}
.login__button {
    background-color: #201568;
    color: #ffffff;
}
.login__link {
    color: #b4afc9;
    text-decoration: none !important;
}